
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*crea variables globales para definir colores*/
:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hoover:#272727;
    --color-hoover2:#007bff;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-krona:"Krona One", sans-serif;
}
/* Resetear estilos predeterminados de los elementos HTML */

*{    /* Eliminar padding (relleno) para todos los elementos */
    padding: 0;
    /* Eliminar margin (margen) para todos los elementos */
    margin: 0;
}

body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /*box.sizing*/
    box-sizing:border-box;

}

.header{

    padding: 2% 0% 0% 15%;
}
.header__menu {
    display: flex;
    gap:80px;
}
.header__menu__link {
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    font-size: 24px;
    color:var(--color-terciario);
    text-decoration: none;
}

.header__menu__link:hover {
    color: var(--color-hoover2);
}
/*flexbox*/
.presentacion{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 6% 15%;
}

.presentacion__contenido{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 40px;
}


.titulo-destaque{
    color: var(--color-terciario);

}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}
.presentacion__contenido__texto a{
    text-decoration: none;
    color:var(--color-terciario);
}
.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-krona);
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    border:var(--color-terciario) 2px solid;
    text-align: center;
    padding:21.5px 0px; /*primer valor vertical, segundo horizontal*/
    border-radius: 8px; 
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;/*quita la linea de links*/
    color:var(--color-secundario);
    display: flex;
    justify-content: center;
    gap:16px
    
}
.presentacion__enlaces__link:hover{
    background-color: var(--color-hoover);
    cursor: pointer;
}

.footer{
    color:var(--color-primario);
    background-color: var(--color-terciario);
    padding: 24px;
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 24px;
    font-weight: 400;
}

