
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Resetear estilos predeterminados de los elementos HTML */

*{    /* Eliminar padding (relleno) para todos los elementos */
    padding: 0;
    /* Eliminar margin (margen) para todos los elementos */
    margin: 0;
}

body {
    background-color: #000000;
    color: #F6F6F6;
    /*box.sizing*/
    box-sizing:border-box;

}

.header{

    padding: 2% 0% 0% 15%;
}
.header__menu {
    display: flex;
    gap:80px;
}
.header__menu__link {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #22D4FD;

}

.header__menu__link:hover {
    color: #007bff;
}
/*flexbox*/
.presentacion{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 6% 15%;
}

.presentacion__contenido{
    width: 615px;
    display:flex;
    flex-direction: column;
    gap: 40px;
}


.titulo-destaque{
    color: #22D4FD;

}

.presentacion__contenido__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentacion__contenido__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.presentacion__enlaces__subtitulos{
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 378px;
    background: color #000;;
    border:#22D4FD 2px solid;
    text-align: center;
    padding:21.5px 0px; /*primer valor vertical, segundo horizontal*/
    border-radius: 8px; 
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;/*quita la linea de links*/
    color:#F6F6F6;
    display: flex;
    justify-content: center;
    gap:16px
    
}
.presentacion__enlaces__link:hover{
    background-color: #272727;
    cursor: pointer;
}

.footer{
    color:#000000;
    background-color: #22D4FD;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

